@import url('./variables.css');
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@import url('../assets/icomoon/style.css');
@import url('./Skeletor.css');
@import url('./darkMode.css');
@import url('./responsive.css');



* {
    font-family: "Nunito Sans", sans-serif !important;
}

html,
body {
    margin: 0;
    background: var(--VeryLightGray);
}

.vs--single .vs__selected {
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    height: 23px;
    margin: auto 0;
}